<nav class="topo-navbar" draggable="true">
    <div class="row logo-footer txtC">
        <div class="col-12">
            <img src="/assets/img/new-logo-branco.svg" alt="logotipo" />
        </div>
    </div>
    <div class="row social txtC margT-5">
        <div class="col-12">
            <a href="http://www.facebook.com"><img src="/assets/img/social/facebook.svg" class="margLR-2" alt="facebook" title="Facebook"/></a>
            <a href="http://www.linkedin.com"><img src="/assets/img/social/linkedin.svg" class="margLR-2" alt="linkedin" title="LinkedIn"/></a>
            <a href="http://www.twitter.com"><img src="/assets/img/social/twitter.svg" class="margLR-2" alt="twitter" title="Twitter"/></a>
        </div>
    </div>
</nav>
<nav class="navbar">
    <div class="row margLR-auto">
        <div class="margLR-20">
            <div class="empresa">
                <p>Sobre</p>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Quem somos</a><br>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Nossa política</a><br>
            </div>
        </div>
        <div class="margLR-20">
            <div class="seguranca">
                <p>Tecnologia</p>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Segurança</a><br>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Transparência</a><br>
            </div>
        </div>
        <div class="margLR-20">
            <div class="mercado">
                <p>Mercado</p>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Negociações</a><br>
            </div>
        </div>
        <div class="margLR-20">
            <div class="ajuda">
                <p>Ajuda</p>
                <a>Fale conosco</a><br>
                <a class="voltarInicio" [routerLink]="['/faq']">FAQ (Perguntas frequentes)</a><br>
                <a class="voltarInicio" [routerLink]="['/dashboard','principal']">Taxas, prazos e limites</a><br>
                <a class="voltarInicio" [routerLink]="['/termosDeUso']">Termos de uso</a><br>
            </div>
        </div>
    </div>
</nav>